@font-face {
    font-family:'Montserrat' ;
    src: url(../font/static/Montserrat-Bold.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat';
    outline: none;
    scroll-behavior: smooth !important;
    -web-kit-scroll-behavior: smooth !important;

}
body {
    -web-kit-scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}
section{
    scroll-behavior: smooth !important

}
a{
    scroll-behavior: smooth !important;

}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background: var(--most-text-color);
}
::-webkit-scrollbar-track{
    background: var(--header-background-color);
}
:root{
    --header-background-color:#edd9c9;
    --about-background-color:#F3F0DD;
    --summary-background-color:#1D1D1D;
    --canals-background-color:#F3F0DD;
    --most-text-color:#1D1D1D;
    --paragraf-color:#505050;
    --other-text-color:#fff;
    --hover-color:tomato;
    font-size: 10px;

}


/* Start header section */
header{
    width: 100%;
    min-height: 10vh;
    background-color: var(--header-background-color);
    position: fixed;
    z-index: 9999;
    padding-bottom: 2rem;
    scroll-behavior: smooth !important;
}
header .container{
    width: 80%;
    height: 100%;
    padding-top:1.5rem ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo h2{
    font-size: 4rem;
    font-weight: 500;
    color: var(--most-text-color);
}
header .container .navigations{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
header .container .navigations nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
header .container .navigations nav a{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--most-text-color);
    transition: .5s;
}
header .container .navigations nav a:hover{
    color:var(--hover-color);
}
header .container .navigations i{
    border: 1px solid #333;
    background-color: var(--other-text-color);
    padding: 1rem;
    font-size: 2.5rem;
    color: var(--summary-background-color);
    display: none;
}
/* end header section */

/* Start main section */
main{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(../imgs/main-background.png),fixed,center;
    background-size: cover;
}
/* end main section */

/* Start about-us section */
.about-us{
    width: 100%;
    min-height: 65vh;
    padding: 10rem;
    background-color: var(--about-background-color);
    overflow: hidden;
}
.about-us .container{
    margin-top: 4rem;
    margin-left: 10rem;
    display: grid;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}
.about-us .about-text{
    margin-top: 7rem;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.about-us .about-imgs{
    grid-column-start: 3;
    grid-column-end: 5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 3rem 4rem 0rem;
}
.about-us .about-text h3{
    font-size: 3rem;
    font-weight: bold;
    color: var(--most-text-color);
    text-align: center;
}
.about-us .about-text h5{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--most-text-color);
    text-align: center;
}
.about-us .about-text p{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--paragraf-color);
    text-align: center;
}
.about-us .about-imgs img:nth-child(1){
    position: absolute;
    top: 65%;
    left: 50%;
}
/* end about-us section */

/* Start products section */
.products{
    width: 100%;
    min-height: 40vh;
    padding: 2rem;
    margin-bottom: 0rem;
}
.products .container{
    width: 80%;
    height: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.products .container .prod-text{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products .container .prod-text h4{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: var(--most-text-color)
}
.products .container .prod-text a{
    color: var(--most-text-color);
    font-size: 2rem;
    font-weight: 500;
    transition: .5s;
}
.products .container .prod-text a:hover{
    color: var(--hover-color);
}
.products .container .prodes{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 10rem;
    margin-top: 10rem;
    width: 100%;
}
.products .container .prodes img{
    width: 100%;
    height: 100%;
}
.products .container .prodes .main-prod{
    grid-column-start: 1;
    grid-column-end:3 ;
    grid-row-start: 1;
    grid-row-end: 3;
}
.products .container .prodes .main-prod1{
    grid-column-start: 3;
    grid-column-end:4 ;
    grid-row-start: 1;
    grid-row-end: 2;
}
.products .container .prodes .main-prod2{
    grid-column-start: 4;
    grid-column-end:5 ;
    grid-row-start: 1;
    grid-row-end: 2;
}
.products .container .prodes .prod3{
    grid-column-start: 3;
    grid-column-end:4 ;
    grid-row-start: 2;
    grid-row-end: 3;
}
.products .container .prodes .prod4{
    grid-column-start: 4;
    grid-column-end:5 ;
    grid-row-start: 2;
    grid-row-end: 3;
}
.products .container .prodes .prod{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.products .container .prodes .prod .prod-price{
    position: absolute;
    top:100%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    font-size: 3.5rem;
    color: var(--other-text-color);
    justify-content: center;
    align-items: center;
    background-color: #5050507e;
    display: none;
    transition: .5s;
}
.products .container .prodes .prod:hover .prod-price{
    display: flex;
    animation: move 1s;
    animation-fill-mode: forwards;
}
/* animatin codes */
@keyframes move{
    0%{
        top: 100%;
    }
    100%{
        top: 0%;
    }
}
/* end products section */

/* Start summary section */
.summaries{
    width: 100%;
    min-height: 20vh;
    background-color: var(--summary-background-color);
    padding: 5rem;
    margin-top: 0rem;
}
.summaries .container{
    width: 80%;
    margin: 0 auto;
    margin-left: 6rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-content: center;
    align-items: center;
    gap: 3rem;
}
.summaries .container .summary1{
    grid-column-start: 1;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.summaries .container .summary2{
    grid-column-start: 2;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.summaries .container .summary3{
    grid-column-start: 3;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.summaries .container .summary{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.summaries .container .summary h5{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--other-text-color);
}
.summaries .container .summary h2{
    font-size: 3rem;
    font-weight: bold;
    color: var(--other-text-color);
}
/* end summary section */

/* Start contact section */
.contact{
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: start;
}
.contact .contact-img{
    width: 50%;
}
.contact .contact-img img{
    width: 100%;
}
.contact .contact-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: start;
    align-items: start;
    width: 50%;
    padding: 10rem;
    background-color: var(--header-background-color);
}
.contact .contact-content h4{
    font-size: 3rem;
    font-weight: bold;
    color: var(--most-text-color);
}
.contact .contact-content h6{
    font-size: 2rem;
    font-weight: 400;
    color: var(--most-text-color);
}
.contact .contact-content p{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--most-text-color);
}
.contact .contact-content .email{
    display: flex;
    gap: 2rem;
}
.contact .contact-content .email input{
    padding: 1rem 7rem;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: start;
}
.contact .contact-content .email button{
    padding: 1rem 2rem;
    border-radius:10px ;
    background-color: var(--about-background-color);
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    transition: .5s;
}
.contact .contact-content .email button:hover{
    background-color: aqua;
}
/* end contact section */

/* Start canals section */
.canals{
    width: 100%;
    min-height: 10vh;
    background-color: var(--canals-background-color);
}
.canals .container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
/* end canals section */

/* Start footer section */
footer{
    width: 100%;
    min-height: 15vh;
    padding: 3rem;
    background-color: var(--summary-background-color);
}
footer .container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
footer .container .header-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .container .header-up a{
    font-size: 2rem;
    font-weight: bold;
    color: var(--other-text-color);
    transition: .5s;
}
footer .container .header-up a:hover{
    color: var(--hover-color);
}
footer .container .header-up h4{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--other-text-color);
}
footer .container .header-up .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
footer .container .header-up .social-icons i{
    font-size: 3rem;
    font-weight: bold;
    color: var(--other-text-color);
    transition: .5s;
    padding: .5rem;
    border-radius: 10px;
}
footer .container .header-up .social-icons i:hover{
    background-color: orange;
}
footer .container .header-down{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
    color: var(--other-text-color);
}
/* end footer section */



/* Meadia query */

/* start header media query */
@media (max-width:700px) {
    header .container .navigations nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;;
        justify-content: start;
        align-items: start;
        padding: 2rem;
        flex-direction: column;
        border: 1px solid #333;
        background-color: var(--other-text-color);
        display: none;
    }
    header .container .navigations nav a{
        border: 1px solid #333;
        background-color: var(--other-text-color);
        width: 100%;
        padding: 2rem;
    }
    header .container .navigations i{
        display: flex;
    }
}
/* end header media query */


/* Start main section */
@media (min-width:1380px) and (max-width:1670px) {
    main{
        background-position: right;
    }  
}
@media(max-width:1380px){
    main{
        display: none;
    }
}
/* end main section */

/* Start about section */
@media(max-width:1363px) {
    .about-us .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        gap: 12rem;
    }
    .about-us .about-text{
        grid-column-start: 1;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    /* Start about section */
    .about-us .about-imgs{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10rem;
    }
    .about-us .about-text h3{
        font-size: 3rem;
    }
    .about-us .about-text h5{
        font-size: 2rem;
    }
    .about-us .about-text h3{
        font-size: 2.8rem;
        font-weight: bold;
    }
    .about-us .about-text h5{
        font-size: 2.3rem;
        font-weight: 400;
    }
    .about-us .about-text p{
        font-size: 1.9rem;
        font-weight: 500;
    }
    ::-webkit-scrollbar{
        width: 0px;
    }
}
     @media (max-width:550px) {
    .about-us .about-imgs img{
        width: 220px;
        object-fit: cover;
    }
    .about-us .container{
        display: flex;
        flex-direction: column-reverse;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .about-us .about-imgs{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10rem;
    }
    .about-us .about-imgs img{
        display: inline-block;
        margin-left: auto;
    }
    .about-us .about-text h3{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .about-us .about-text h5{
        font-size: 1.3rem;
        font-weight: 400;
    }
    .about-us .about-text p{
        font-size: 1.2rem;
        font-weight: 450;
    }
}


/* end about section */

/* Start prod-section */
@media (min-width:500px) and (max-width:1100px) {
    .products .container .prodes{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
    }
    .products .container .prodes .prod{
        flex-grow: 1;
    }
    .products .container .prodes{
        margin-left: 0rem;
    }  
}

    @media (max-width:500px) {
        .products .container .prodes .prod{
            flex-grow: 1;
        } 
        html{
            font-size: 8px;
        }
        .products .container .prodes .main-prod{
            width: 100%;
            object-fit: cover;
        }
        .products .container .prodes{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-left: 0;
        }
        .products .container .prod-text h4{
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            color: var(--most-text-color)
        }
        .products .container .prod-text a{
            color: var(--most-text-color);
            font-size: 1rem;
            font-weight: 500;
            transition: .5s;
        }
        .products .container .prod-text{
            gap: 3rem;
        }
    }

/* end prod-section */

/* Start summary section */
@media (max-width:1000px) {
    .summaries .container{
        justify-content: center;
        margin-left: 1rem;
    }
}
/* end summary section */

/* Start contact section */
@media(max-width:1130px){
    .contact .contact-content{
        text-align: center;
    }
    .contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact .contact-img{
        width: 100%;
    }
    .contact .contact-content{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:440px) {
    .contact .contact-content{
        text-align: center;
    }
    .contact .contact-content .email{
        gap: .3rem;
    }
    .contact .contact-content .email input{
        padding: 1rem 2rem;
    }
    .contact .contact-content .email button{
        padding: 1rem 1rem;
    }
}

/* end contact section */

/* Start canals section */
  @media (max-width:420px) {
    .canals .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
/* end canals section */

/* Start footer section */
@media (min-width:570px) and (max-width:700px) {
    footer .container .header-up a i {
        font-size: .5rem;
        font-weight: 500;
    } 
    footer .container .header-up a h1 {
        font-size: 2rem;
        font-weight: 500;
    } 
}
@media (max-width:570px){
    footer .container{
        text-align: center;
    }
    footer .container .header-up{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }
}

/* end footer section */

/* js animations */

@keyframes appear {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
   50%{
        opacity: .50;
    }
   75%{
        opacity: .75;
    }
   100%{
        opacity: 1;
    }
}

@keyframes maxSize {
    0%{
        transform: scale(0);
    }
   100%{
    transform: scale(1);
    }
}
@keyframes goAndComeBack{
    0%{
        transform: translateY(100%);
        display: none;
    }
   100%{
    transform: translateY(0%);
        display: flex;
    }
}
